@media screen and (max-width:900px) {
    #message_navBar{
      width: 0px;
      display: none;
      }
    #message_leftSide{
      width: 40%;
    }  
      #message_mainSide{
        width: 60%;
        height: 100%;
        /* background-color: #111b21; */
        
      }
      
}
@media screen and (max-width:600px) {
  #message_leftSide{
    width: 100%;
  }
  #message_mainSide{
    display: none;
    /* background-color: antiquewhite; */
  }
 
}